
        <!-- PAGE : ABOUT -->
        <section id="about" class="page">
            <div class="content">
                <!-- row -->
                <div class="row">
                    <!-- column 12/12 -->
                    <div class="col-md-12">
                        <h2 class="section-title"><span><i class="icon-guest"></i>A LITTLE ABOUT ME</span></h2>
                        <!-- intro -->
                        <div class="intro">
                            <h2>
                                Hello! I love
                                <span class="rotate-words">
                                    <span>programming.</span>
                                    <span>web development.</span>
                                    <span>graphic designer.</span>
                                    <span>learning new things.</span>
                                    <span>photography.</span>
                                    <span>cinematography.</span>
                                </span>
                                <br>
                                I live in Hua Hin, but I'm from Bangkok.
                                <br>
                                I'm always looking for projects to work on or new opportunities to add to my resume.
                            </h2>
                        </div>
                        <!-- intro -->
                    </div>
                    <!-- column 12/12 -->
                </div>
                <!-- row -->
                

                <h2 class="section-title"><span><i class="fa fa-magic"></i>INTERESTS</span></h2>
                <!-- SERVICES -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <!-- service -->
                        <div class="service color1">
                            <i class="fa fa-html5"></i>
                            <h4>Web Development</h4>
                            <p>I love making web sites! I can do both front end and
                            back end web development, but if I had to choose, I'd
                            choose back-end – or possibly full stack if that's an option!</p>
                        </div>
                        <!-- service -->
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <!-- service -->
                        <div class="service color2">
                            <i class="fa fa-code"></i>
                            <h4>Programming</h4>
                            <p>I love web development, but I also love programming in general. I'm still
                                interested in other fields: software, mobile, etc.!</p>
                        </div>
                        <!-- service -->
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <!-- service -->
                        <div class="service color4">
                            <i class="fa fa-rocket"></i>
                            <h4>Constantly Learning</h4>
                            <p>I'm lucky to be in a field where this is a real possibility! What's
                            better than the rush of joy from learning and understanding
                            something new? </p>
                        </div>
                        <!-- service -->
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <!-- service -->
                        <div class="service color5">
                            <i class="fa fa-camera-retro"></i>
                            <h4>Music and Motion</h4>
                            <p>I love music and Motion Graphic</p>
                        </div>
                        <!-- service -->
                    </div>
                </div>
                <!-- SERVICES -->

                <h2 class="section-title"><span><i class="fa fa-heart"></i>RANDOM FACTS</span></h2>

                <!-- FUN FACT -->
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                            <i class="fa fa-home"></i>
                            <h4>I'VE SPENT 20 YEARS IN BANGKOK AND 8 IN HUA HIN</h4>
                        </div>
                        <!-- fun-fact -->
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                            <i class="fa fa-quote-left"></i>
                            <h4>I CAME FROM HALF CHINESS FAMILY SO MY LAST NAME IS VERY LONG AND HARD TO PRONOUNCED</h4>
                        </div>
                        <!-- fun-fact -->
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <!-- fun-fact -->
                        <div class="fun-fact">
                            <i class="fa fa-coffee"></i>
                            <h4>I LOVED DRINK COFFEE – <em>VERY MUCH</em></h4>
                        </div>
                        <!-- fun-fact -->
                    </div>
                </div>
                <!-- FUN FACT -->
            </div>
        </section>
        <!-- PAGE : ABOUT -->