
        <!-- PAGE : CONTACT -->
        <section id="contact" class="page">
            <div class="content">
                <!-- row -->
                <div class="row">
                    <!-- column 12/12 -->
                    <div class="col-md-12">
                        <h2 class="section-title"><span><i class="icon-paper-plane"></i>DROP ME A LINE</span></h2>

                        <div class="letter">
                            <h4 class="letter-title">Ruttaphong Worachartudomphong</h4>
                            <div class="stamp">
                                <img src="/img/stamp.png" alt="stamp">
                            </div>
                            <div class="letter-info">
                                <p><i class="icon-at"></i>maggotgluon@gmail.com</p>
                                <p><i class="icon-location"></i>395 Moo7 Wang Phong, Amphoe Pran Buri, Chang Wat Prachuap Khiri Khan 77120</p>
                                <p>
                                    <a href="http://fb.com/maggotgluon"><i class="fa fa-facebook-square"></i></a>
                                    <!-- <i class="fa fa-twitter-square" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-youtube-square" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-behance-square" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-weixin" aria-hidden="true"></i> -->

                                    <!-- <i class="fa fa-credit-card" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-cc-paypal" aria-hidden="true"></i> -->
                                    <!-- <i class="fa fa-paypal" aria-hidden="true"></i> -->


                                </p>
                            </div>
                          </div>
                        <!-- .contact-form -->
                        <!-- <div class="contact-form">
                            <form id="contact-form" action="http://formspree.io/shannon.babincsak@gmail.com" method="post">
                                enter mail subject here
                                <input type="hidden" name="_subject" id="subject" value="New Message From Contact Form!">

                                <p>
                                    <label for="name">NAME</label>
                                    <input type="text" name="name" id="name" class="required">
                                </p>

                                <p>
                                    <label for="email">EMAIL</label>
                                    <input type="text" name="email" id="email" class="required email">
                                </p>


                                <p>
                                    <label for="message">MESSAGE</label>
                                    <textarea name="message" id="message" class="required"></textarea>
                                </p>

                                <input type="text" name="_gotcha" style="display:none">

                                <p>
                                    <input type="submit" class="submit button primary" value="SEND">
                                </p>

                            </form>

                        </div> -->
                        <!-- .contact-form -->

                    </div>
                    <!-- column 12/12 -->
                </div>
                <!-- row -->
            </div>
        </section>
        <!-- PAGE : CONTACT -->